#outer{
    height: 200px;
    width: 200px;
    margin: auto;
    margin-top: 20px;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 100px;
}
#eye{
    height: 40px;
    width: 40px;
    background-color: black;
    margin: 15px;
    margin-top: 35px;
    margin-left: 32px;
    display: inline-block;
    border-radius: 50%;
    
    
}
#smile{
    height: 40px;
    width:150px;
    background-color: black;
    top: 140px;
    left: 694px;
    position:absolute ;
    border-radius: 0 0 60px 60px ;
}