div{
     height: 500px;
    width: 600px;
    text-align: center;
    background-color: lightgreen;
    
    margin: 10px auto;
    box-shadow: 10px 10px 10px darkgreen;
    background-image: url(wallpaper.jpg);
    background-size: auto;
}